.select-user {
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
}

#send-new-user-btn {
    width: 300px;
    display: block;
    margin: 0 auto;
}
