a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

body,
html {
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    color: #111e6c;
    /* Try using a background image
  background: url('images/frontPageBackground.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease;
    padding-top: 30px;
}

    .main:before {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0.2;
        filter: alpha(opacity=90);
    }

.main-text {
    top: 20%;
    left: auto;
    right: auto;
    position: relative;
    color: #111e6c;
}

.btn-circle,
#to-top {
    border-radius: 50%;
    background: #66c7b9;
    padding: 6px;
    font-size: 14px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-default {
    color: #fff;
    background-color: #ea697a;
    border-color: #111e6c;
    transition: all 1s ease;
}

.btn-group-lg > .btn,
.btn-lg {
    padding: 18px 28px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 50px;

}

.btn-group .btn-or {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99;
    box-shadow: 0;
    border: 2px solid #fff;
}

.blurred-box {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
