.profile-header {
    text-align: center;
    border-bottom: 3px solid;
    margin-bottom: 40px;
}

.profile-picture {
    display: inline-block;
    float: left;
    border: solid;
    height: 250px;
    margin: 5px;
}

.profile-content {
    margin-top: 75px;
    text-align: justify;
}
