.profile-header {
    text-align: center;
    border-bottom: 3px solid;
    margin-bottom: 40px;
}

.profile-box {
    width: 620px;
    height: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #96dcd2;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    border: solid;
}

.profile-picture {
    display: inline-block;
    float: left;
    border: solid;
    height: 250px;
    margin: 5px;
}

.profile-content {
    text-align: justify;
}

.password-changer-box {
    width: 320px;
    height: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-top: 30px;
    background-color: #ea697a;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    border: solid;
}

.profile-password {
    width: 250px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.profile-button {
    width: 250px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.change-title {
    font-size: 1.5rem;
}