@import './mixins/_breakpoints.scss';

.outer {
    display: flex;
    flex-flow: row;
    overflow: visible;
    flex-wrap: nowrap;
}

.hamburger-menu {
    z-index: 10002;
}

@include lg {
    .hamburger-menu {
        & img {
            width: 4rem;
        }
    }
}