.quest-name {
    font-family: "VT323", monospace;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
}

.quest-name-container {
    height: 4.8rem;
}

.quest-badge {
    display: block;
    margin-left: auto;
    margin-right: auto;
}