.available-quests {
    height: 200px;
    background-color: #96dcd2;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
}

.quest-container {
    display: flex;
}

.taken-quests {
    width: 50%;
    height: 450px;
    background-color: #efd197;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
}

.finished-quests {
    width: 50%;
    height: 450px;
    background-color: #efd197;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
}
